*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-family: 'Rubik'; // шрифт по умолчанию по сайту
	font-style: normal;
	font-weight: normal;
	-webkit-animation: bugfix infinite 1s;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

body {
	font-style: normal;
	font-weight: normal;
	-webkit-animation: bugfix infinite 1s;
	line-height: 1;
	margin: 0;
	padding: 0;
}

input,
textarea {
	-webkit-animation: bugfix infinite 1s;
	line-height: inherit;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	color: inherit;
}
a {
	color: unset;
}
a,
a:hover {
	text-decoration: none;
}

button,
input,
a,
textarea {
	outline: none;
	cursor: pointer;
	font: inherit;
	&:focus {
		outline: none;
	}
	&:active {
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
	margin: 0;
	padding: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

button {
	border: none;
	color: inherit;
	font: inherit;
	text-align: inherit;
	padding: 0;
	background-color: transparent;
}
ul {
	padding: 0;
	margin: 0;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

$white: #fff;
$gray: rgb(105 105 105);
$red: rgb(150, 30, 30);
$red-light: rgb(194, 88, 88);
$txt-gray: rgb(212 212 212);
$txt-neutral: rgb(163 163 163);
$black: rgb(23 23 23);
$border-dark: rgb(38 38 38);
$dark: rgb(28 28 28);

.txt-neutral {
	color: $txt-neutral;
}

%hover-light {
	@media (hover: hover) {
		transition: background-color 0.2s ease-out;
		&:hover {
			background-color: rgb(40 40 40);
		}
	}
}

%hover-gray {
	background-color: $gray;
	transition: background-color 0.2s ease-out;
	@media (hover: hover) {
		&:hover {
			background-color: $txt-neutral;
		}
	}

	&:active {
		background-color: rgb(60, 60, 60);
	}
}

@-webkit-keyframes red-pulse {
	0% {
		color: $red;
	}

	100% {
		color: $red-light;
	}
}

@keyframes red-pulse {
	0% {
		color: $red;
	}

	50% {
		color: $red-light;
	}

	100% {
		color: $red;
	}
}
