.txt-xl1 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: bold;
}

.txt-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}

.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}

.txt-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
